In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Read the file
file_location = "Apple-Twitter-Sentiment-DFE.csv"
data = pd.read_csv(file_location, encoding='ISO-8859-1')
# Visuailze the dataset
data.head()

    _unit_id  ...                                               text
0  623495513  ...  #AAPL:The 10 best Steve Jobs emails ever...htt...
1  623495514  ...  RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2  623495515  ...  My cat only chews @apple cords. Such an #Apple...
3  623495516  ...  I agree with @jimcramer that the #IndividualIn...
4  623495517  ...       Nobody expects the Spanish Inquisition #AAPL

[5 rows x 12 columns]

In [ ]:
data.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'sentiment', 'sentiment:confidence', 'date', 'id',
       'query', 'sentiment_gold', 'text'],
      dtype='object')

In [ ]:
#droping the unwanted columns

modified_data = data.drop(['_unit_id', '_golden', '_unit_state', '_trusted_judgments', '_last_judgment_at', 'sentiment:confidence', 'date', 'id', 'query', 'sentiment_gold'], axis=1)
modified_data.head()

  sentiment                                               text
0         3  #AAPL:The 10 best Steve Jobs emails ever...htt...
1         3  RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2         3  My cat only chews @apple cords. Such an #Apple...
3         3  I agree with @jimcramer that the #IndividualIn...
4         3       Nobody expects the Spanish Inquisition #AAPL

In [ ]:
data['sentiment'].unique()

array(['3', '5', '1', 'not_relevant'], dtype=object)

In [ ]:
# remove all the rows containing 'not_relevant' sentiment
modified_data = modified_data[modified_data['sentiment'] != 'not_relevant']
modified_data.head()
modified_data['sentiment'].unique()

array(['3', '5', '1'], dtype=object)

In [ ]:
modified_data.query("sentiment != 'not_relevant'")

     sentiment                                               text
0            3  #AAPL:The 10 best Steve Jobs emails ever...htt...
1            3  RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2            3  My cat only chews @apple cords. Such an #Apple...
3            3  I agree with @jimcramer that the #IndividualIn...
4            3       Nobody expects the Spanish Inquisition #AAPL
...        ...                                                ...
3881         3  (Via FC) Apple Is Warming Up To Social Media -...
3882         3  RT @MMLXIV: there is no avocado emoji may I as...
3883         5  @marcbulandr I could not agree more. Between @...
3884         1  My iPhone 5's photos are no longer downloading...
3885         5  RT @SwiftKey: We're so excited to be named to ...

[3804 rows x 2 columns]

In [ ]:
modified_data['sentiment'].unique()

array(['3', '5', '1'], dtype=object)

In [ ]:
cols = modified_data.columns.tolist()
print(cols)

['sentiment', 'text']

In [ ]:
# Rearrage the dataset columns. Move sentiment score column to last position.
cols = cols[-1:] + cols[:-1]
modified_data = modified_data[cols]
modified_data.head()

                                                text sentiment
0  #AAPL:The 10 best Steve Jobs emails ever...htt...         3
1  RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...         3
2  My cat only chews @apple cords. Such an #Apple...         3
3  I agree with @jimcramer that the #IndividualIn...         3
4       Nobody expects the Spanish Inquisition #AAPL         3

In [ ]:
modified_data['sentiment'].unique()

array(['3', '5', '1'], dtype=object)

In [ ]:
# Map sentiments from 0 to max as per the GCP NLP requirement
decode_map = {1: 0, 3: 1, 5: 2}
def decode_sentiment(label):
    return decode_map[int(label)]

In [ ]:
# apply decode function to the modified dataset
modified_data.sentiment = modified_data.sentiment.apply(lambda x: decode_sentiment(x))
modified_data['sentiment'].unique()

array([1, 2, 0])

In [ ]:
# Write the dataset as a csv
modified_data.to_csv('sentiment_modified.csv', index=False, header = False)