In [ ]:
import pandas as pd
data = pd.read_csv('appointment_project_1.csv')
data.head()

      PatientId  AppointmentID Gender  ... Handcap SMS_received  No-show
0  8.679510e+11        5642828      F  ...       0            0       No
1  9.598510e+13        5626772      F  ...       0            0       No
2  8.457440e+13        5633121      M  ...       0            0       No
3  7.184430e+13        5638545      F  ...       0            0       No
4  9.912880e+13        5597673      M  ...       0            1      Yes

[5 rows x 14 columns]

In [ ]:
# Label column is 'Exited' for this dataset
label = 'No-show'

In [ ]:
# Rearrage the dataset columns
cols = data.columns.tolist()
colIdx = data.columns.get_loc(label)
# Do nothing if the label is in the 0th position
# Otherwise, change the order of columns to move label to 0th position
if colIdx != 0:
    cols = cols[colIdx:colIdx+1] + cols[0:colIdx] + cols[colIdx+1:]
# Change the order of data so that label is in the 0th column
modified_data = data[cols]

In [ ]:
# Remove the useless columns
# Note that below code is a sample
# Please change the value as you see fit
useless_cols = ['PatientId', 'AppointmentID','ScheduledDay', 'AppointmentDay', 'Neighbourhood']
modified_data = modified_data.drop(useless_cols, axis=1)

In [ ]:
# One hot encode the categorical columns
from sklearn.preprocessing import OneHotEncoder
from scipy import sparse
cat_columns = ['Gender']
one_hot_encode_model = OneHotEncoder(handle_unknown='ignore').fit(modified_data[cat_columns])
new_features = one_hot_encode_model.transform(modified_data[cat_columns])
new_feature_names = one_hot_encode_model.get_feature_names(cat_columns)
if (sparse.issparse(new_features)):
  new_features = new_features.toarray()
dataframe = pd.DataFrame(new_features, columns=new_feature_names)
modified_data = modified_data.drop(cat_columns, axis=1)
modified_data = pd.concat([modified_data, dataframe], axis=1)

In [ ]:
# Encode the label column to a number
modified_data[label] = pd.Categorical(modified_data[label])
modified_data[label] = modified_data[label].cat.codes
modified_data.head()

   No-show  Age  Scholarship  ...  SMS_received  Gender_F  Gender_M
0        0    8            0  ...             0       1.0       0.0
1        0   76            0  ...             0       1.0       0.0
2        0   50            0  ...             0       0.0       1.0
3        0    0            0  ...             0       1.0       0.0
4        1   67            0  ...             1       0.0       1.0

[5 rows x 10 columns]

In [ ]:
modified_data.columns

Index(['No-show', 'Age', 'Scholarship', 'Hipertension', 'Diabetes',
       'Alcoholism', 'Handcap', 'SMS_received', 'Gender_F', 'Gender_M'],
      dtype='object')

In [ ]:
# Convert the data to float
modified_data = modified_data.astype('float')
modified_data[label] = modified_data[label].astype('int')
# Write the dataset as a csv
modified_data.to_csv('./appointment_planning_modified.csv', index=False, header = False)